tmp
.DS_Store
public/feed
public/javascripts/cache
public/stylesheets/cache
coverage
*.log
script/pids
config/memcached.yml
t.sql
.*.swp
*.pid
*.sqlite3
db/schema.rb
config/database.yml
config/facebooker.yml