.caption-points
  %div{:id =>"points_#{dom_id(caption)}"} 
    = caption.votes_count
    %span votes
.caption-votes
  - if caption.can_vote_for_caption? current_user
    = link_to "Vote Up", votes_url(caption)
  - elsif caption.voted_for? current_user
    %span.quiet Voted
  - else
    %span.quiet Closed
