%h1.title <span>PAST</span> Contests 
== All #{pluralize @photos.size, 'contests'} along with it's winning caption.

#archive-container.clearfix
  #archive-sponsors
    =# image_tag "ad-160x600.jpg"
  #archive
    - for photo in @photos
      = render :partial => "contests/photo_caption", :locals => {:photo => photo, :caption => photo.winning_caption}