<h1>You have added the application? <%= @current_facebook_user.has_added_app.to_s == 1.to_s rescue false %></h1>

<span class="title">Fields on the User Object</span>
<% if( @user.name rescue false)%>
<ul>
        <% for field in Facebooker::User::FIELDS.map(&:to_s).sort %>
          <% value = h( @user.send(field).to_s ) %>
        <li> <%= field %> :  <%= field.match(/pic/) ? image_tag(value) : value  %></li>      
        <% end %>
</ul>
<% else %>
  You must add the app to see this data.
<% end%>

<%= link_to "Invites", new_invitation_url %>

<div style="width: 400px">
<fb:wall>
  <fb:wallpost uid="10701640" t="1180502413">
    This could be an example of a caption
    <div style="float:right"> <fb:share-button class="url" href="http://apps.facebook.com/example" /></div>
    <fb:wallpost-action href="#"><b>20 Comments</b></fb:wallpost-action>
    <fb:wallpost-action href="#">This is Spam</fb:wallpost-action>
  </fb:wallpost>

  <fb:wallpost uid="10701640" t="1180502413">
    This actually might not work since we need to link the author to the user's dailycaption profile instead of fb profile
    <div style="float:right"> <fb:share-button class="url" href="http://apps.facebook.com/example" /></div>
    <fb:wallpost-action href="#"><b>20 Comments</b></fb:wallpost-action>
    <fb:wallpost-action href="#">This is Spam</fb:wallpost-action>
  </fb:wallpost>

  <fb:wallpost uid="10701640" t="1180502413">
    We will probably have to manually create the "wallpost" instead of using FBML
    <div style="float:right"> <fb:share-button class="url" href="http://apps.facebook.com/example" /></div>
    <fb:wallpost-action href="#"><b>20 Comments</b></fb:wallpost-action>
    <fb:wallpost-action href="#">This is Spam</fb:wallpost-action>
  </fb:wallpost>

  <fb:wallpost uid="10701640" t="1180502413">
    This could be an example of a caption
    <div style="float:right"> <fb:share-button class="url" href="http://apps.facebook.com/example" /></div>
    <fb:wallpost-action href="#"><b>20 Comments</b></fb:wallpost-action>
    <fb:wallpost-action href="#">This is Spam</fb:wallpost-action>
  </fb:wallpost>
</fb:wall>
</div>