%p
  - if photo.valid?
    = link_to image_tag(photo.small), photo.medium
    by
    = photo.author
    = link_to "Destroy!  This photo sucks", admin_photo_path(photo), :method => :delete, :confirm => "it sucks?"
  - else
    Invalid photo was added with id
    = photo.flickr_id
