%h1
  Add some photos!  or
  = link_to "view upcoming photos", admin_photos_path

%h2
  = link_to "Find Creative Commons Photos", "http://www.flickr.com/creativecommons/by-2.0/"
  
- form_tag admin_photos_path  do
  - counter = 0
  - 10.times  do
    - counter += 1
    = text_field_tag "photos[]", flickr_id_if_first_text_field(counter)
    Flickr Id
    %br
  = submit_tag
