#canvas {
  background: #F7F7F7 url(http://dailycaption.com:4007/images/polaroid.png) no-repeat 350px -30px;
  padding: 1.8em 0.5em;
  color: #3A3A3A; }

#hd #logo {
  padding-bottom: 0.5em; }

#bd {
  background: #FFFFFF;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #898989;
  padding: 1em 0.5em; }

#ft ul {
  padding: 0;
  margin: 0.3em 0 0 0.5em; }
  #ft ul li {
    display: inline;
    list-style: none;
    margin-right: 0.3em;
    color: #AAA; }
    #ft ul li a:link, #ft ul li a:visited {
      color: #888; }
    #ft ul li a:hover {
      color: #3B5998; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.hidden {
  display: none; }

.quiet {
  color: #999; }

.more {
  margin-top: 10px; }

.strong {
  font-weight: bold; }

.title {
  font-family: arial,helvetica,clean,sans-serif;
  font-weight: bold; }
  .title span {
    color: #99CCFF; }

h1.title {
  font-size: 17px; }

h2.title {
  font-size: 16px; }

.add-caption-link {
  margin-top: 2px;
  float: right; }

div#competition {
  margin-top: 30px; }
  div#competition div#competing-captions-container {
    float: left;
    width: 400px; }
    div#competition div#competing-captions-container #sort {
      color: #999; }
      div#competition div#competing-captions-container #sort ul {
        margin: 0;
        padding: 0;
        display: inline; }
        div#competition div#competing-captions-container #sort ul li {
          padding: 0 1px;
          list-style: none;
          display: inline; }
    div#competition div#competing-captions-container div#competing-captions {
      margin-top: 10px; }
  div#competition div#contest-sidebar {
    float: right;
    width: 205px; }

div#contests {
  margin-top: 15px; }
  div#contests #contest-header #contest-time-left {
    float: right;
    margin-top: 5px; }
  div#contests #contest-header #contest-nav img, div#contests #contest-header #contest-nav h1 {
    display: inline;
    vertical-align: middle; }
  div#contests #contest-header #contest-nav img {
    padding: 1px; }
  div#contests #contest {
    width: 525px;
    float: left; }
    div#contests #contest #first-caption-message {
      margin: 15px 0; }
  div#contests #past-contests {
    margin-top: 25px;
    float: right;
    text-align: center;
    width: 85px; }
    div#contests #past-contests b {
      color: #3A3A3A; }
    div#contests #past-contests dl {
      margin: 0;
      padding: 0;
      margin-top: 5px;
      border: 1px solid #CCC; }
      div#contests #past-contests dl img {
        padding: 3px 3px 0 3px; }
      div#contests #past-contests dl a:link, div#contests #past-contests dl a:visited {
        padding: 0;
        color: #AAA;
        display: block;
        padding-bottom: 3px; }
      div#contests #past-contests dl a:hover {
        color: #3B5998; }
      div#contests #past-contests dl:hover {
        border-color: #3B5998; }
        div#contests #past-contests dl:hover a {
          color: #3B5998;
          text-decoration: underline; }
      div#contests #past-contests dl dt, div#contests #past-contests dl dd, div#contests #past-contests dl p {
        margin: 0;
        padding: 0;
        text-align: center !important; }

#photo-cont {
  background: #E8F0F6;
  border: 1px solid #CCC;
  padding: 5px;
  text-align: center; }
  #photo-cont div#new-caption, #photo-cont div#photo, #photo-cont div#photo p {
    padding: 5px; }
  #photo-cont div#photo {
    background: #3A3A3A;
    border: 1px solid #555;
    margin: auto;
    position: relative; }
    #photo-cont div#photo p#tagline {
      width: 94%;
      position: absolute;
      top: 0;
      left: 0;
      filter: alpha(opacity=80);
      opacity: 0.80;
      margin: 0;
      padding-top: 2px;
      padding-bottom: 2px;
      background: #3A3A3A;
      color: #FFF;
      text-align: center; }
      #photo-cont div#photo p#tagline a:link, #photo-cont div#photo p#tagline a:visited, #photo-cont div#photo p#tagline a:hover {
        color: #FFF;
        text-decoration: underline; }
  #photo-cont #add-caption-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 77px;
    height: 81px; }

#photo-cont.fold {
  background: #E8F0F6 url(http://dailycaption.com:4007/images/fold.gif) no-repeat right bottom;
  padding: 10px 5px 50px; }

div#best-caption {
  text-align: left; }
  div#best-caption .caption-container {
    background: transparent;
    border: none; }
    div#best-caption .caption-container .caption-info {
      background: #D1D9DF;
      border: 1px solid #CCC; }
    div#best-caption .caption-container .caption {
      font-size: 18px; }

.caption-container {
  background: #F7F7F7;
  border: 1px solid #CCC;
  margin-bottom: 10px; }
  .caption-container .caption-info {
    background: #E7E7E7;
    border-bottom: 1px solid #CCC;
    padding: 3px;
    vertical-align: middle; }
    .caption-container .caption-info .caption-spam {
      float: right;
      font-size: 9px; }
    .caption-container .caption-info cite.caption-author {
      font-style: normal; }
      .caption-container .caption-info cite.caption-author span {
        font-size: 9px; }
  .caption-container .caption-with-votes {
    background: url(http://dailycaption.com:4007/images/quote.gif) no-repeat left top;
    padding: 7px 5px 5px 15px; }
    .caption-container .caption-with-votes .caption {
      padding-top: 7px;
      font-weight: bold;
      font-family: arial,helvetica,clean,sans-serif;
      font-size: 14px; }
      .caption-container .caption-with-votes .caption a:link, .caption-container .caption-with-votes .caption a:hover, .caption-container .caption-with-votes .caption a:visited {
        color: #4F6B7F; }
    .caption-container .caption-with-votes ul.caption-collab {
      margin: 0;
      padding: 0;
      margin-top: 15px;
      vertical-align: middle; }
      .caption-container .caption-with-votes ul.caption-collab li {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        vertical-align: middle;
        margin-right: 7px; }
        .caption-container .caption-with-votes ul.caption-collab li img, .caption-container .caption-with-votes ul.caption-collab li a {
          vertical-align: middle; }
        .caption-container .caption-with-votes ul.caption-collab li .share_and_hide {
          margin-top: 2px; }
    .caption-container .caption-with-votes .caption-voting {
      float: right;
      width: 45px;
      margin-left: 10px;
      margin-right: 5px;
      text-align: center; }
      .caption-container .caption-with-votes .caption-voting .caption-points {
        font-family: arial,helvetica,clean,sans-serif;
        background: #3A3A3A;
        border: 1px solid #555;
        color: #99CCFF;
        font-size: 18px;
        font-weight: bold;
        padding: 3px 0; }
        .caption-container .caption-with-votes .caption-voting .caption-points span {
          display: block;
          margin-top: 2px;
          font-size: 11px;
          color: #CCC; }

.notice {
  background: #FFC4BF url("http://dailycaption.com:4007/images/error.png") no-repeat 5px 5px;
  border: 3px solid #BC0F00;
  margin-bottom: 15px;
  padding: 5px;
  padding-left: 25px; }
  .notice h1 {
    color: #840A00;
    margin: 0;
    padding: 0; }
  .notice p {
    margin: 0;
    padding: 0 0 3px; }
  .notice a:link, .notice a:hover, .notice :visited {
    color: #840A00;
    text-decoration: underline; }

#archive-container {
  margin-top: 15px; }
  #archive-container h4.archive-date {
    margin-bottom: 2px; }
    #archive-container h4.archive-date span {
      font-weight: normal;
      color: #999; }
  #archive-container #archive-sponsors {
    float: right;
    width: 180px;
    text-align: right; }
  #archive-container #archive {
    width: 450px; }
    #archive-container #archive dl {
      margin: 0;
      padding: 0; }
      #archive-container #archive dl dt {
        margin: 0;
        padding: 0;
        float: left; }
        #archive-container #archive dl dt img {
          border: 1px solid #CCC;
          padding: 4px; }
          #archive-container #archive dl dt img:hover {
            border-color: #3B5998; }
            #archive-container #archive dl dt img:hover a {
              color: #3B5998;
              text-decoration: underline; }
      #archive-container #archive dl dd {
        margin-left: 90px;
        padding: 0; }

#profile-page #profile-stats {
  background: #F7F7F7;
  width: 200px;
  padding: 5px 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC; }
#profile-page #profile-info {
  float: left;
  width: 200px; }
#profile-page #profile-contributions {
  float: right;
  width: 400px; }
#profile-page .profile-section {
  margin-top: 20px; }
