%style
  :sass
    // Styles for DailyCaption on FB Canvas

    !alt_font = "arial,helvetica,clean,sans-serif"
    #canvas
      :background #F7F7F7 url(http://facebook.dailycaption.com/images/polaroid_filled.png) no-repeat 350px -30px
      :padding 1.8em 0.5em 0.5em 0.5em
      :color #3A3A3A
      :border-bottom 1px dashed #DDD
      :height 1%
    #hd
      #logo
        :padding-bottom 0.5em
    #bd
      :background #FFFFFF
      :border-left 1px solid #CCC
      :border-right 1px solid #CCC
      :border-bottom 1px solid #898989
      :padding 1em 0.5em
    #ft
      ul
        :padding 0
        :margin 0.3em 0 0 0.5em
        li
          :display inline
          :list-style none
          :margin-right 0.3em
          :color #AAA
          a
            &:link, &:visited
              :color #888
            &:hover
              :color #3B5998
    #banner-ad
      :text-align center
    // Util Classes
    .box
      :background url(http://facebook.dailycaption.com/images/background_section.gif) repeat-x top
      :padding 10px
    .clear-both
      :clear both
    .clear-right
      :clear right
    .clear-left
      :clear left
    .float-right
      :float right
    .float-left
      :float left
    .hidden
      :display none
    .quiet
      :color #999
    .more
      :margin-top 10px
    .strong
      :font-weight bold
    .title
      :font-family = !alt_font
      :font-weight bold
      span
        :text-transform uppercase
        :color #99CCFF
    h1.title  
      :font-size 17px
    h2.title
      :font-size 16px

    // Contest Page
    .add-caption-link
      :margin-top 2px
      :float right
    div#competition
      :margin-top 30px
      div#competing-captions-container
        :float left
        :width 425px
        #sort
          :color #999
          ul
            :margin 0
            :padding 0
            :display inline
            li 
              :padding 0 1px
              :list-style none
              :display inline
        div#competing-captions
          :margin-top 10px
      div#contest-sidebar
        :text-align right
        :float right
        :width 180px
    div#contests
      :margin-top 15px
      #contest-header
        #contest-time-left
          :float right
          :margin-top 5px
        #contest-nav
          img, h1
            :display inline
            :vertical-align middle
          img
            :padding 1px
      #contest
        :width 525px
        :float left
        #first-caption-message
          :margin 15px 0
      #past-contests
        :margin-top 25px
        :float right
        :text-align center
        :width 85px
        b
          :color #3A3A3A
        dl
          :margin 0
          :padding 0
          :margin-top 5px
          :border 1px solid #CCC
          img
            :padding 3px 3px 0 3px
          a:link, a:visited
            :padding 0
            :color #AAA
            :display block
            :padding-bottom 3px
          a:hover
            :color #3B5998
          &:hover
            :border-color #3B5998
            a
              :color #3B5998
              :text-decoration underline
          dt,dd,p
            :margin 0
            :padding 0
            :text-align center !important

    // Photo
    #photo-cont
      :background #E8F0F6
      :border 1px solid #CCC
      :padding 5px
      :text-align center
      div#new-caption,div#photo,div#photo p
        :padding 5px
      div#photo
        :background #3A3A3A
        :border 1px solid #555
        :margin auto
        :height 1%
        :position relative
        p#tagline
          :width 500px
          :position absolute
          :top 0
          :left 0
          :filter alpha(opacity=80) 
          :opacity 0.80
          -moz-opacity 0.80
          :margin 0
          :padding-top 2px 
          :padding-bottom 2px
          :background #3A3A3A
          :color #FFF
          :text-align center
          a:link, a:visited,a:hover
            :color #FFF
            :text-decoration underline
      #add-caption-overlay
        :position absolute
        :bottom 0
        :right 0
        :width 77px
        :height 81px
    #photo-cont.fold
      :background #E8F0F6 url(http://facebook.dailycaption.com/images/fold.gif) no-repeat right bottom
      :padding 10px 5px 60px
    #caption-page
      p#tagline
        :width 595px !important

    // Captions
    div#best-caption
      :text-align left
      .caption-container
        :border none
        :background-color transparent  
        .caption-with-votes
          :background-color transparent  
        .caption-info
          :background #D1D9DF
          :border 1px solid #CCC
        .caption-body
          :font-size 18px

    .caption-container
      :margin-bottom 10px
      :background-color #E7E7E7
      :border 1px solid #CCC
      .caption-info
        :background #E7E7E7
        :border-bottom 1px solid #CCC
        :padding 3px
        :vertical-align middle
        :margin 0
        .caption-spam
          :position relative
          :float right
          :font-size 9px
        cite.caption-author
          :height 1%
          :display block
          :padding 0
          :margin 0
          :font-style normal
          span
            :font-size 9px

      .caption-with-votes   
        :background #F7F7F7 url(http://facebook.dailycaption.com/images/quote.gif) no-repeat left top
        :padding 7px 5px 5px 15px
        
        .caption
          :margin-right 50px

          :padding-top 7px
          .caption-body
            :font-weight bold
            :font-family = !alt_font
            :font-size 14px
            a:link, a:hover, a:visited
              :color #4F6B7F
          .caption-actions

          ul.caption-collab
            :margin 0
            :padding 0
            :margin-top 15px
            :vertical-align middle
            li
              :margin 0
              :padding 0
              :float left
              :list-style none
              :vertical-align middle
              :margin-right 7px
              img, a
                :vertical-align middle
              .share_and_hide
                :margin-top 2px
        .caption-voting
          :float right
          :width 45px
          :margin-left 10px
          :margin-right 5px
          :text-align center
          .caption-points
            :background #3A3A3A
            :border 1px solid #555
            :padding 3px 0
            :font-family = !alt_font
            span.count
              :color #99CCFF
              :font-size 18px
              :font-weight bold
            span
              :display block
              :margin-top 2px
              :font-size 11px
              :color #CCC
          .vote-button
            :margin-top 2px

    dl.photo-caption
      :margin 0
      :padding 0
      dt
        :margin 0
        :padding 0
        :float left
        img
          :border 1px solid #CCC
          :padding 4px
          &:hover
            :border-color #3B5998
            a
              :color #3B5998
              :text-decoration underline
      dd
        :margin-left 90px
        :padding 0


    // Notices
    .notice
      :background #FFC4BF url("http://facebook.dailycaption.com/images/error.png") no-repeat 5px 5px
      :border 3px solid #BC0F00
      :margin-bottom 15px
      :padding 5px
      :padding-left 25px
      h1
        :color #840A00
        :margin 0
        :padding 0
      p
        :margin 0
        :padding 0 0 3px
      a:link, a:hover, :visited
        :color #840A00
        :text-decoration underline

    // Archive
    #archive-container
      :margin-top 15px
      h4.archive-date
        :margin-bottom 2px
        span
          :font-weight normal
          :color #999
      #archive-sponsors
        :float right
        :width 160px
        :text-align right
      #archive
        :width 450px
        :float left

    // DC Profile
    #profile-page
      #profile-stats
        :background #F7F7F7
        :width 200px
        :padding 5px 0
        :border-top 1px solid #CCC
        :border-bottom 1px solid #CCC
      #profile-info
        :float left
        :width 200px
      #profile-contributions
        :float right
        :width 400px
      .profile-section
        :margin-top 20px


    // Comments
    .comment
      :margin 0px 10px
    #comments-container
      :margin-top 20px
      #comments
        :width 310px
        :float left

      #comments-sidebar
        :width 300px
        :float right

    // Caption
    #caption-page
      h1.title
        :margin-bottom 10px
        
    .simple-caption
      :padding-left 19px
      :background url(http://facebook.dailycaption.com/images/fb_quote.png) no-repeat left top
      :padding-bottom 7px

    // FB Profile
    #dailycaption-fb-profile
      h4
        :border-bottom 1px solid #DEDEDE
        :color #888888
        :font-size 11px
        :margin-bottom 3px
        :padding-bottom 1px
        
      #dailycaption-overview
        :margin-top 5px
        #stats
          :float left
          :width 35%
          .data
            :text-align right
        #voted-captions
          :float right
          :width 60%
      #narrow
        h4
          :margin-top 10px
        h4.first
          :margin-top 0
