- photo_cont @photo do
  #new-caption
    - facebook_form_for @caption, :url => captions_url do |f| 
      == #{ time_left } | You can post up to 3 captions per contest (# remaining).
      = f.text_field :caption 
      = hidden_field_tag :photo_id, @photo.id
      = f.buttons "Add Caption!"
